<?php

$production = false;
if (!$production) {
    ini_set('display_errors', '1');
    ini_set('display_startup_errors', '1');
    error_reporting(E_ALL);
}
$basePath = $_SERVER['DOCUMENT_ROOT'];
$JWTPassword = ""; // Edit
$databaseName = "Coter";
$databaseUsername = ""; // Edit
$databasePassword = ""; // Edit
$databaseHostname = "localhost";
$setupPassword = ""; // Edit
$testPassword = ""; // Edit