<div class="card mx-auto my-3" style="width: 24rem;">
    <div class="card-body">
        <h5 class="card-title">Register</h5>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-4 col-form-label">Username</label>
            <div class="col-8">
                <input type="text" class="form-control" name="inputUsername">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-4 col-form-label">Password</label>
            <div class="col-8">
                <input type="password" class="form-control" name="inputPassword">
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>